/* Colors */
$deep-black: #000000;
$light-black: #333333;
$dark-gray: #666666;
$gray: #999999;
$light-gray: #cccccc;
$very-light-gray: #f2f2f2;
$white: #ffffff;
$signature-red: #d3233a;
$badge-cold-color: #0a309e;
$badge-cold-border: #afc8f2;
$badge-ambient-border: #f2afaf;
$badge-coupon-bg: #fff100;

/* Font-icon */
$bs-icon: "bootstrap-icons";
