@media (max-width: 768px) {
  /* Common CSS */
  .inner {
    width: 100%;
  }
  /* Header */
  header {
    height: 60px;
    padding: 0 20px;
  }
  .logo img {
    width: 110px;
  }
  .header-nav {
    display: none;
  }
  .family-site-container {
    display: none;
  }
  .sitemap-open {
    width: 20px;
    height: 10px;
  }
  /* Section : Hero */
  .hero-section {
    padding: 70px 20px 0 20px;
  }
  .heading > span {
    font-size: 16px;
  }
  .heading h2 {
    font-size: 30px;
  }
  .heading p {
    font-size: 14px;
    max-width: 60%;
    word-break: keep-all;
    font-weight: 600;
  }
  /* Section : Oy News */
  .oy-news-section {
    padding: 60px 20px 0 20px;
  }
  .news-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 220px 220px 150px 150px;
    gap: 15px;
  }
  .main-news {
    grid-area: 1 / 1 / 2 / 3;
  }
  .news01 {
    grid-area: 2 / 1 / 3 / 3;
  }
  .news02 {
    grid-area: 3 / 1 / 4 / 3;
  }
  .news03 {
    grid-area: 4 / 1 / 6 / 2;
  }
  .main-news-thumb img {
    height: 220px;
  }
  .main-news-title {
    padding: 20px;
  }
  .main-news-title span,
  .news-title span {
    font-size: 12px;
    padding: 6px 10px;
    margin-bottom: 10px;
  }
  .main-news-title h2 {
    font-size: 20px;
  }
  .news03 h2,
  .news04 h2,
  .news05 h2 {
    font-size: 14px;
  }
  /* Section : Oy Platform */
  .oy-platforms {
    padding: 60px 30px 0 30px;
  }
  .oy-platforms .inner {
    display: flex;
    flex-direction: column;
  }
  .platform-intro {
    position: static;
    width: 100%;
  }
  .platform-anchor {
    display: none;
  }
  .oy-platforms h2 {
    font-size: 26px;
    width: 100%;
    margin-bottom: 40px;
  }
  .platform:before {
    top: -25px;
    left: 0;
    color: #6edd02;
  }
  .platform img {
    width: 100%;
  }
  .platform h3 {
    font-size: 22px;
    margin: 20px 0;
  }
  .platform p {
    font-size: 16px;
    max-width: 95%;
    word-break: keep-all;
  }
  /* Footer */
  .footer-top,
  .footer-bottom {
    padding: 30px 15px;
  }
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-links1 ul {
    flex-wrap: wrap;
    column-gap: 100px;
  }
  .footer-links1 h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .footer-links1 a {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .cj-group-links {
    width: 100%;
    margin-top: 10px;
  }
  .cj-group {
    top: -210px;
  }
  .footer-bottom {
    flex-wrap: wrap;
  }
  .footer-links2 a {
    font-size: 13px;
  }
  .company-info p {
    font-size: 13px;
    line-height: 1.5em;
  }
  .sns-links {
    gap: 10px;
  }
  .sns-links span {
    font-size: 11px;
  }
  /* SiteMap */
  .sitemap .content {
    width: 100%;
    padding: 30px;
  }
  .sitemap-close {
    top: 20px;
    right: 20px;
  }
  .sitemap-nav li {
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
  }
  .sitemap-nav li div {
    margin-top: 15px;
    gap: 20px;
    display: none;
  }
  .sitemap-nav li div.active {
    display: flex;
  }
  .sitemap-fam {
    position: absolute;
    left: 0;
    bottom: 50px;
    padding-left: 22px;
    font-size: 14px;
  }
}
