/* fontawesome CDN */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* xeicon CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
/* font(pretendard) CDN */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* reset */
* {
  box-sizing: border-box;
  font-family: "Pretendard Variable";
}
body {
  margin: 0;
  font-weight: 400;
  height: 100vh;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    -225deg,
    #7085b6 0%,
    #87a7d9 50%,
    #def3f8 100%
  );
}
a {
  text-decoration: none;
  color: #222;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

.navigation {
  display: flex;
  padding: 20px 40px;
  gap: 30px;
  background-color: #fff;
  border-radius: 10px;
}
.navigation li {
  height: 30px;
}
.navigation li a {
  display: inline-block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.navigation li a:before,
.navigation li a:after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  transition: 0.3s;
  font-weight: 500;
}
.navigation li a:before {
  top: 0;
}
.navigation li a:after {
  top: 100%;
}
.navigation li a:hover:before,
.navigation li a:hover:after {
  color: royalblue;
}
.navigation li a:hover:before {
  top: -100%;
}
.navigation li a:hover:after {
  top: 0;
}
